header {
  width: min-content;
  margin: auto;
}

header > h1 {
  width: max-content;
}

main {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
}

main > * {
  margin: auto;
}

button {
  background-color: darkslategray;
  color: var(--light-text);
  padding: 7px;
  margin: 3px;
  font-size: 1rem;
}

.question {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.question > * {
  margin: auto;
}

.buttons-and-result {
  width: min-content;
}

.buttons-outer {
  display: flex;
  width: max-content;
}

.buttons-inner {
  display: flex;
  flex-direction: column;
  margin: 10px auto auto;
}

.footnote {
  font-size: 0.75rem;
  font-style: italic;
}

.endgame {
  margin-bottom: 20px;
}
